* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-size: 18px;
}

body {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.container {
	min-width: 350px;
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.blocked-for-moving {
	overflow-x: hidden;
}

.block-buttons {
	background-color: rgb(255 255 255 / 0.75);
	height: 3rem;
	display: flex;
	column-gap: 1rem;
	row-gap: 0.3rem;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	backdrop-filter: blur(10px);
	align-items: center;
	padding: 0.5rem;
}

.button {
	min-width: 150px;
	width: 25%;
	padding: 0.35rem;
	cursor: pointer;
	border: none;
	font-weight: 700;
	box-shadow: 0 0 2px 2px rgb(125 125 125 / 0.25);
	border-radius: 0.25rem;
	background-color: rgb(250 250 250 / 0.95);
	color: rgb(0 0 0);
}

.button:hover {
	background-color: rgb(245 245 245 / 0.95);
	box-shadow: 0 0 1px 1px rgb(125 125 125 / 0.125);
}

.disable-button {
	color: rgb(225 0 0);
	cursor: auto;
	background-color: rgb(245 245 245 / 0.95);
	box-shadow: 0 0 1px 1px rgb(235 0 0 / 0.125);
}

.disable-button:hover {
	box-shadow: 0 0 1px 1px rgb(235 0 0 / 0.125);
}

.block-widgets {
	display: flex;
	justify-content: space-between;
	padding-top: 3rem;
	height: 100vh;
	padding-bottom: 1rem;
}

.widget {
	flex: 0 0 49%;
	min-height: 350px;
	display: grid;
	grid-template-rows: 3rem auto;
}

.widget-header {
	padding: 0.75rem;
}

.widget-title {
	font-size: 1.5rem;
}

.widget-body {
	border: 1px solid rgb(125 125 125 / 0.25);
	background-color: rgb(255 255 255 / 0.95);
	border-radius: 0.5rem;
	box-shadow: 0 0 3px 3px rgb(205 205 205 / 0.25);
	display: grid;
	overflow: hidden;
	grid-template-rows: 3rem auto 3rem;
}

.show-widget-body-error {
	grid-template-rows: 3rem auto 2rem 3rem;
}

.widget-body-title {
	font-weight: 700;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	box-shadow: 3px 0 3px 3px rgb(205 205 205 / 0.25);
}


.widget-list {
	overflow: auto;
	scrollbar-width: none;
}

.widget-list-item:last-child {
	border-bottom: 1px solid rgb(125 125 125 / 0.25);
}

.widget-list-item {
	border-top: 1px solid rgb(125 125 125 / 0.25); 
}

.widget-row {
	padding: 0.75rem;
	min-height: 3rem;
}

.widget-panel-new {
	cursor: pointer;
	text-align: center;
	font-weight: 700;
	font-size: 1.1rem;
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: -3px 0 3px 3px rgb(205 205 205 / 0.25);
}

.widget-panel-new:hover {
	background-color: rgb(245 245 245 / 0.95);
}

.project-li {
	user-select: none;
}

.project-name {
	cursor: pointer;
}

.project-li:has(.project-name:hover) {
	background-color: rgb(245 245 245 / 0.75);
}

.project-count-task {
	background-color: rgb(0 0 0 / 0.99);
	color: rgb(255 255 255 / 0.95);
	border-radius: 15px;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-count-task-span {
	font-size: 0.9rem;
}

.project-count-task-open {
	margin-right: 0.2rem;
}

.project-archive {
	cursor: pointer;
	text-align: center;
	color: rgb(155 0 0);
	font-size: 1rem
}

.project-archive:hover {
	color: rgb(255 25 25);
	font-weight: 700;
}

.project-body-header {
	column-gap: 0.3rem;
}

.dashboard-row {
	display: grid;
	column-gap: 0.3rem;
	grid-template-columns: auto repeat(2, 3.5rem);
}

.active-project {
	background-color: rgb(205 205 205 / 0.75);
}

.task {
	display: grid;
	column-gap: 0.3rem;
	grid-template-columns: 2rem auto;
	grid-template-areas: 
		"task-status task-name"
		"task-descr task-descr";
}

.task-status {
	grid-area: task-status;
	cursor: pointer;
	display: flex;
}

.task-status-icon {
	height: 1.2rem;
	width: 1.2rem;
	border: 1px solid rgb(205 205 205 / 0.55);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-content: center;
	line-height: 1rem;
	color: rgb(0 0 0 / 0);
	font-weight: 700;
}

.task-status:has(.task-status-check:checked) .task-status-icon{
	color: rgb(25 225 25 / 0.99);
	background-color: rgb(225 225 225 / 0.25);
}

.task:has(.task-status-check:checked) {
	background-color: rgb(245 245 245 / 0.75);
} 

.task:has(.task-status-check:checked) .task-name {
	text-decoration: line-through;
}

.task-name {
	grid-area: task-name;
	cursor: pointer;
}

.task-descr {
	grid-area: task-descr;
	font-size: 0.95rem;
	padding-top: 0.5rem;
}

.widget-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
}

.widget-modal:before {
	position: fixed;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background-color: rgb(0 0 0 / 0.25);
	backdrop-filter: blur(3px);
}

.widget-modal-container {
	background-color: rgb(255 255 255 / 0.99);
	width: 50%;
	min-width: 350px;
	margin: 3rem auto;
	overflow: auto;
	border-radius: 0.5rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 5;
}

.widget-modal-confirm-header {
	font-size: 1.2rem;
	font-weight: 700;
}

.widget-modal-confirm-descr {
	margin-top: 0.5rem;
	text-align: center;
}

.widget-modal-confirm-question {
	margin-top: 0.5rem;
	text-align: center;
	font-style: italic;
}

.widget-modal-buttons {
	margin-top: 1.5rem;
	display: flex;
	column-gap: 0.5rem;
	width: 100%;
	justify-content: center;
}

.widget-modal-button {
	width: 33%;
}

.widget-modal-button:hover {
	background-color: rgb(245 245 245 / 0.95)
}

.widget-error {
	padding: 0.5rem;
	color: rgb(235 0 0);
	font-size: 0.85rem;
	height: 2rem;
	align-self: flex-start;
}

.widget-project-error {
	font-size: 1rem;
	height: 2rem;
	text-align: center;
}

.widget-modal-input {
	padding: 0.5rem;	
	outline: none;
	border-radius: 0.25rem;
	border: 1px solid rgb(225 225 225 / 0.25);
	background-color: rgb(250 250 250 / 0.55);
	width: 100%;	
	margin-top: 1rem;	
}

.widget-modal-input::placeholder {
	font-size: 0.85rem;
	font-weight: 500;
}

.project-modal-task-container {
	width: 80%;	
}

.widget-modal-task-project {
	font-size: 1.2rem;
	font-weight: 700;
}

.widget-modal-task-descr {
	resize: vertical;
	min-height: 150px;	
	font-family: inherit;
}

.moving-item {
	transform: rotate(3deg);
	opacity: 0.95;
	position: fixed;
	cursor: move;
	border: 1px solid rgb(225 225 225 / 0.1); 
}

.moving-item:hover {
	background-color: rgb(235 235 235);
}

.moving-item .project-name {
	cursor: move;
}

.moving-item .project-archive {
	cursor: move;
	color: rgb(155 0 0);
	font-weight: 500;
}

.blank-item {
	background-color: rgb(215 215 215);
	opacity: 0.5;
}

.hidden-item {
	position: fixed;
	clip-path: circle(0);
	overflow: hidden;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
}

input.hidden-item {
	position: relative;
}

.no-scroll {
	overflow: hidden;
}

@media (max-width: 700px) {
	.block-widgets {
		flex-direction: column;
	}

	.widget {
		flex: 0 0 100%;
	}
}

@media (max-width: 500px) {
	.block-buttons {
		flex-wrap: wrap;
	}
} 

@media (max-width: 500px) and (min-width: 300px) {
	.header-button-clear {
		order: 2;
		width: calc(300px + 1rem);
	}

	.block-buttons {
		height: 5.5rem;
	}

	.block-widgets {
		padding-top: 5.5rem;
	}
}

@media (max-width: 299px) {
	.block-buttons {
		flex-direction: column;
		align-items: center;
		height: 8rem;
		justify-content: space-around;
	}

	.block-widgets {
		padding-top: 8rem;
	}

	.header-button {
		width: 90%;
	}
}